body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../img/background.jpg);
}
#container{
    position: relative;
}
.number{
    position: absolute;
    top:422px;
    left: 156px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: FZZDHJW--GB1-0;
    font-size: 48px;
    color: #151515;
    text-align: left;
}
.number li{
    float: left;
    display: block;
}
#today_num{
    margin-right: 144px;
}
#today_date{
    position: absolute;
    top:574px;
    left: 452px;
    font-family: MicrsoftYaHei;
    font-size: 30px;
    color: #151515;
    text-align: left;
}